body {
    background-color: black;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px 0;
}

.player,
.computer {
    border: 3px solid white;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    padding: 10px;
}

.player h1,
.computer h1 {
    font-size: 40px;
    color: blue;
}

.score {
    font-size: 40px;
    font-weight: bold;
    color: yellow;
}

button {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    width: 150px;
    height: 100px;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    color: red
}

/* Add this when the player click a button, then remove */
.choosing {     
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

button:disabled {
    background-color: grey;
    color: white;
}

#result {
    font-size: 32px;
    color: yellowgreen;
}